/* Large Devices, Large Desktops (≥1200px) */
@media (min-width: 1200px) {
    /* Styles for large devices and up */
    .landing .member_1 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 32;
    }

    .landing .member_2 {
        bottom: 0;
        left: 50%;
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
        z-index: 31;
    }

    .landing .member_3 {
        bottom: 0;
        right: 50%;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 30;
    }

    .landing .member_4 {
        bottom: 0;
        left: 50%;
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        z-index: 29;
    }

    .landing .member_5 {
        bottom: 0;
        right: 50%;
        transform: translateX(-40%);
        -webkit-transform: translateX(-40%);
        -moz-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
        -o-transform: translateX(-40%);
        z-index: 28;
    }
    .landing .member_6 {
        bottom: 0;
        left: 50%;
        transform: translateX(85%);
        -webkit-transform: translateX(85%);
        -moz-transform: translateX(85%);
        -ms-transform: translateX(85%);
        -o-transform: translateX(85%);
        z-index: 27;
    }
    .landing .member_7 {
        bottom: 0;
        right: 50%;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        z-index: 26;
    }

    .landing .member_8 {
        bottom: 0;
        left: 50%;
        transform: translateX(130%);
        -webkit-transform: translateX(130%);
        -moz-transform: translateX(130%);
        -ms-transform: translateX(130%);
        -o-transform: translateX(130%);
        z-index: 25;
    }

    .landing .member_9 {
        bottom: 0;
        right: 50%;
        transform: translateX(-130%);
        -webkit-transform: translateX(-130%);
        -moz-transform: translateX(-130%);
        -ms-transform: translateX(-130%);
        -o-transform: translateX(-130%);
        z-index: 24;
    }

    .landing .member_10 {
        bottom: 0;
        left: 50%;
        transform: translateX(175%);
        -webkit-transform: translateX(175%);
        -moz-transform: translateX(175%);
        -ms-transform: translateX(175%);
        -o-transform: translateX(175%);
        z-index: 24;
    }

    .landing .member_11 {
        bottom: 0;
        right: 50%;
        transform: translateX(-175%);
        -webkit-transform: translateX(-175%);
        -moz-transform: translateX(-175%);
        -ms-transform: translateX(-175%);
        -o-transform: translateX(-175%);
        z-index: 23;
    }

    .landing .member1_1 {
        bottom: 100px;
        left: 50%;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
        z-index: 22;
    }

    .landing .member1_2 {
        bottom: 100px;
        right: 50%;
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        z-index: 21;
    }

    .landing .member1_3 {
        bottom: 100px;
        left: 50%;
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
        z-index: 20;
    }

    .landing .member1_4 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
        z-index: 19;
    }

    .landing .member1_5 {
        bottom: 100px;
        left: 50%;
        transform: translateX(65%);
        -webkit-transform: translateX(65%);
        -moz-transform: translateX(65%);
        -ms-transform: translateX(65%);
        -o-transform: translateX(65%);
        z-index: 18;
    }

    .landing .member1_6 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-65%);
        -webkit-transform: translateX(-65%);
        -moz-transform: translateX(-65%);
        -ms-transform: translateX(-65%);
        -o-transform: translateX(-65%);
        z-index: 17;
    }

    .landing .member1_7 {
        bottom: 100px;
        left: 50%;
        transform: translateX(110%);
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        z-index: 16;
    }

    .landing .member1_8 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
        z-index: 15;
    }

    .landing .member1_9 {
        bottom: 100px;
        left: 50%;
        transform: translateX(155%);
        -webkit-transform: translateX(155%);
        -moz-transform: translateX(155%);
        -ms-transform: translateX(155%);
        -o-transform: translateX(155%);
        z-index: 14;
    }

    .landing .member1_10 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-155%);
        -webkit-transform: translateX(-155%);
        -moz-transform: translateX(-155%);
        -ms-transform: translateX(-155%);
        -o-transform: translateX(-155%);
        z-index: 13;
    }

    .landing .member2_1 {
        bottom: 230px;
        left: 50%;
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        z-index: 12;
    }
    .landing .member2_2 {
        bottom: 230px;
        right: 50%;
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        z-index: 11;
    }

    .landing .member2_3 {
        bottom: 230px;
        left: 50%;
        transform: translateX(35%);
        -webkit-transform: translateX(35%);
        -moz-transform: translateX(35%);
        -ms-transform: translateX(35%);
        -o-transform: translateX(35%);
        z-index: 10;
    }

    .landing .member2_4 {
        bottom: 230px;
        right: 50%;
        transform: translateX(-35%);
        -webkit-transform: translateX(-35%);
        -moz-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
        -o-transform: translateX(-35%);
        z-index: 9;
    }

    .landing .member2_5 {
        bottom: 230px;
        left: 50%;
        transform: translateX(85%);
        -webkit-transform: translateX(85%);
        -moz-transform: translateX(85%);
        -ms-transform: translateX(85%);
        -o-transform: translateX(85%);
        z-index: 8;
    }

    .landing .member2_6 {
        bottom: 230px;
        right: 50%;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        z-index: 7;
    }

    .landing .member2_7 {
        bottom: 230px;
        left: 50%;
        transform: translateX(135%);
        -webkit-transform: translateX(135%);
        -moz-transform: translateX(135%);
        -ms-transform: translateX(135%);
        -o-transform: translateX(135%);
        z-index: 6;
    }

    .landing .member2_8 {
        bottom: 230px;
        right: 50%;
        transform: translateX(-135%);
        -webkit-transform: translateX(-135%);
        -moz-transform: translateX(-135%);
        -ms-transform: translateX(-135%);
        -o-transform: translateX(-135%);
        z-index: 5;
    }
    /* Start Slider */
    .outer {
        overflow-x: hidden;
        background: url(../images/background.png);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .slider {
        display: flex;
        /* width: 500vw; */
    }
    .slider section {
        min-height: 100vh;
        /* width: 100%; */
    }
    .slider section:nth-child(2) {
        min-height: 100vh;
        /* width: 6144px !important; */
    }
    .outer.active {
        opacity: 0;
    }
    /* End Slider */
    .landing .members-wrapper {
        position: relative;
        height: calc(100vh - 165px);
    }

    .landing .members-wrapper img {
        position: absolute;
        max-width: 22% !important;
        user-select: none;
    }

    .landing .line_one {
        bottom: -450px;
        opacity: 0;
    }

    .landing .line_two {
        bottom: -400px;
        opacity: 0;
    }

    .landing .line_three {
        bottom: -350px;
        opacity: 0;
    }
}

/* Medium Devices, Desktops (≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .landing .member_1 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 32;
    }

    .landing .member_2 {
        bottom: 0;
        left: 50%;
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
        z-index: 31;
    }

    .landing .member_3 {
        bottom: 0;
        right: 50%;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 30;
    }

    .landing .member_4 {
        bottom: 0;
        left: 50%;
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        z-index: 29;
    }

    .landing .member_5 {
        bottom: 0;
        right: 50%;
        transform: translateX(-40%);
        -webkit-transform: translateX(-40%);
        -moz-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
        -o-transform: translateX(-40%);
        z-index: 28;
    }
    .landing .member_6 {
        bottom: 0;
        left: 50%;
        transform: translateX(85%);
        -webkit-transform: translateX(85%);
        -moz-transform: translateX(85%);
        -ms-transform: translateX(85%);
        -o-transform: translateX(85%);
        z-index: 27;
    }
    .landing .member_7 {
        bottom: 0;
        right: 50%;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        z-index: 26;
    }

    .landing .member_8 {
        bottom: 0;
        left: 50%;
        transform: translateX(130%);
        -webkit-transform: translateX(130%);
        -moz-transform: translateX(130%);
        -ms-transform: translateX(130%);
        -o-transform: translateX(130%);
        z-index: 25;
    }

    .landing .member_9 {
        bottom: 0;
        right: 50%;
        transform: translateX(-130%);
        -webkit-transform: translateX(-130%);
        -moz-transform: translateX(-130%);
        -ms-transform: translateX(-130%);
        -o-transform: translateX(-130%);
        z-index: 24;
    }

    .landing .member_10 {
        bottom: 0;
        left: 50%;
        transform: translateX(175%);
        -webkit-transform: translateX(175%);
        -moz-transform: translateX(175%);
        -ms-transform: translateX(175%);
        -o-transform: translateX(175%);
        z-index: 24;
    }

    .landing .member_11 {
        bottom: 0;
        right: 50%;
        transform: translateX(-175%);
        -webkit-transform: translateX(-175%);
        -moz-transform: translateX(-175%);
        -ms-transform: translateX(-175%);
        -o-transform: translateX(-175%);
        z-index: 23;
    }

    .landing .member1_1 {
        bottom: 100px;
        left: 50%;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
        z-index: 22;
    }

    .landing .member1_2 {
        bottom: 100px;
        right: 50%;
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        z-index: 21;
    }

    .landing .member1_3 {
        bottom: 100px;
        left: 50%;
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
        z-index: 20;
    }

    .landing .member1_4 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
        z-index: 19;
    }

    .landing .member1_5 {
        bottom: 100px;
        left: 50%;
        transform: translateX(65%);
        -webkit-transform: translateX(65%);
        -moz-transform: translateX(65%);
        -ms-transform: translateX(65%);
        -o-transform: translateX(65%);
        z-index: 18;
    }

    .landing .member1_6 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-65%);
        -webkit-transform: translateX(-65%);
        -moz-transform: translateX(-65%);
        -ms-transform: translateX(-65%);
        -o-transform: translateX(-65%);
        z-index: 17;
    }

    .landing .member1_7 {
        bottom: 100px;
        left: 50%;
        transform: translateX(110%);
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        z-index: 16;
    }

    .landing .member1_8 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
        z-index: 15;
    }

    .landing .member1_9 {
        bottom: 100px;
        left: 50%;
        transform: translateX(155%);
        -webkit-transform: translateX(155%);
        -moz-transform: translateX(155%);
        -ms-transform: translateX(155%);
        -o-transform: translateX(155%);
        z-index: 14;
    }

    .landing .member1_10 {
        bottom: 100px;
        right: 50%;
        transform: translateX(-155%);
        -webkit-transform: translateX(-155%);
        -moz-transform: translateX(-155%);
        -ms-transform: translateX(-155%);
        -o-transform: translateX(-155%);
        z-index: 13;
    }

    .landing .member2_1 {
        bottom: 230px;
        left: 50%;
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        z-index: 12;
    }
    .landing .member2_2 {
        bottom: 230px;
        right: 50%;
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        z-index: 11;
    }

    .landing .member2_3 {
        bottom: 230px;
        left: 50%;
        transform: translateX(35%);
        -webkit-transform: translateX(35%);
        -moz-transform: translateX(35%);
        -ms-transform: translateX(35%);
        -o-transform: translateX(35%);
        z-index: 10;
    }

    .landing .member2_4 {
        bottom: 230px;
        right: 50%;
        transform: translateX(-35%);
        -webkit-transform: translateX(-35%);
        -moz-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
        -o-transform: translateX(-35%);
        z-index: 9;
    }

    .landing .member2_5 {
        bottom: 230px;
        left: 50%;
        transform: translateX(85%);
        -webkit-transform: translateX(85%);
        -moz-transform: translateX(85%);
        -ms-transform: translateX(85%);
        -o-transform: translateX(85%);
        z-index: 8;
    }

    .landing .member2_6 {
        bottom: 230px;
        right: 50%;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        z-index: 7;
    }

    .landing .member2_7 {
        bottom: 230px;
        left: 50%;
        transform: translateX(135%);
        -webkit-transform: translateX(135%);
        -moz-transform: translateX(135%);
        -ms-transform: translateX(135%);
        -o-transform: translateX(135%);
        z-index: 6;
    }

    .landing .member2_8 {
        bottom: 230px;
        right: 50%;
        transform: translateX(-135%);
        -webkit-transform: translateX(-135%);
        -moz-transform: translateX(-135%);
        -ms-transform: translateX(-135%);
        -o-transform: translateX(-135%);
        z-index: 5;
    }
    /* Styles for medium devices and up */
    .landing {
        overflow-x: hidden;
        background: url(../images/background.png);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .landing .members-wrapper {
        position: relative;
        height: calc(100vh - 147.75px);
    }
    .landing .members-wrapper img {
        position: absolute;
        max-width: 25%;
        user-select: none;
    }
    .landing .line_one {
        bottom: 0;
    }

    .landing .line_two {
        bottom: 60px;
    }

    .landing .line_three {
        bottom: 150px;
    }
}

/* Small Devices, Tablets (≥768px) */
@media (max-width: 991px) {
    .cursor {
        display: none;
    }
    .landing .container {
        padding: 0;
        width: 100%;
    }
    .members-wrapper {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
    .members-wrapper img {
        position: absolute;
        max-width: 200px;
        min-width: 100px;
        width: 40%;
        left: 50%;
    }
    .landing {
        background-image: url(../images/background.png);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .member_1 {
        bottom: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 100;
    }
    .member_2 {
        bottom: 0;
        transform: translateX(-15%);
        -webkit-transform: translateX(-15%);
        -moz-transform: translateX(-15%);
        -ms-transform: translateX(-15%);
        -o-transform: translateX(-15%);
        z-index: 99;
    }
    .member_3 {
        bottom: 0;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        z-index: 98;
    }
    .member_4 {
        bottom: 0;
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        z-index: 97;
    }
    .member_5 {
        bottom: 0;
        transform: translateX(-125%);
        -webkit-transform: translateX(-125%);
        -moz-transform: translateX(-125%);
        -ms-transform: translateX(-125%);
        -o-transform: translateX(-125%);
        z-index: 96;
    }
    .member_6 {
        bottom: 0;
        transform: translateX(65%);
        -webkit-transform: translateX(65%);
        -moz-transform: translateX(65%);
        -ms-transform: translateX(65%);
        -o-transform: translateX(65%);
        z-index: 95;
    }
    .member_7 {
        bottom: 0;
        transform: translateX(-165%);
        -webkit-transform: translateX(-165%);
        -moz-transform: translateX(-165%);
        -ms-transform: translateX(-165%);
        -o-transform: translateX(-165%);
        z-index: 94;
    }
    .member_8 {
        bottom: 80px;
        transform: translateX(-35%);
        -webkit-transform: translateX(-35%);
        -moz-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
        -o-transform: translateX(-35%);
        z-index: 93;
        width: 48%;
    }
    .member_9 {
        bottom: 80px;
        transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        -moz-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        z-index: 92;
        width: 48%;
    }
    .member_10 {
        bottom: 80px;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 91;
        width: 48%;
    }
    .member_11 {
        bottom: 80px;
        transform: translateX(-115%);
        -webkit-transform: translateX(-115%);
        -moz-transform: translateX(-115%);
        -ms-transform: translateX(-115%);
        -o-transform: translateX(-115%);
        z-index: 90;
        width: 48%;
    }
    .member1_1 {
        bottom: 100px;
        transform: translateX(45%);
        -webkit-transform: translateX(45%);
        -moz-transform: translateX(45%);
        -ms-transform: translateX(45%);
        -o-transform: translateX(45%);
        z-index: 89;
        width: 48%;
    }
    .member1_2 {
        bottom: 100px;
        transform: translateX(-155%);
        -webkit-transform: translateX(-155%);
        -moz-transform: translateX(-155%);
        -ms-transform: translateX(-155%);
        -o-transform: translateX(-155%);
        z-index: 88;
        width: 48%;
    }
    .member1_3 {
        bottom: 170px;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 88;
        width: 48%;
    }
    .member1_4 {
        bottom: 170px;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
        z-index: 87;
        width: 48%;
    }
    .member1_5 {
        bottom: 170px;
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        z-index: 86;
        width: 48%;
    }
    .member1_6 {
        bottom: 170px;
        transform: translateX(-145%);
        -webkit-transform: translateX(-145%);
        -moz-transform: translateX(-145%);
        -ms-transform: translateX(-145%);
        -o-transform: translateX(-145%);
        z-index: 85;
        width: 47%;
    }
    .member1_7 {
        bottom: 140px;
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
        z-index: 88;
        width: 47%;
    }
    .member1_8 {
        bottom: 140px;
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
        z-index: 87;
        width: 47%;
    }
    .member1_9 {
        bottom: 230px;
        transform: translateX(-35%);
        -webkit-transform: translateX(-35%);
        -moz-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
        -o-transform: translateX(-35%);
        z-index: 85;
        max-width: 180px !important;
    }
    .member1_10 {
        bottom: 230px;
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
        z-index: 84;
        max-width: 180px !important;
    }
    .member2_1 {
        bottom: 280px;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        z-index: 80;
        max-width: 190px !important;
    }
    .member2_2 {
        bottom: 280px;
        transform: translateX(-105%);
        -webkit-transform: translateX(-105%);
        -moz-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        -o-transform: translateX(-105%);
        z-index: 79;
        max-width: 190px !important;
    }
    .member2_3 {
        bottom: 280px;
        transform: translateX(35%);
        -webkit-transform: translateX(35%);
        -moz-transform: translateX(35%);
        -ms-transform: translateX(35%);
        -o-transform: translateX(35%);
        z-index: 78;
        max-width: 190px !important;
    }
    .member2_4 {
        bottom: 280px;
        transform: translateX(-140%);
        -webkit-transform: translateX(-140%);
        -moz-transform: translateX(-140%);
        -ms-transform: translateX(-140%);
        -o-transform: translateX(-140%);
        z-index: 77;
        max-width: 190px !important;
    }
    .member2_5 {
        bottom: 330px;
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
        z-index: 76;
        max-width: 180px !important;
    }
    .member2_6 {
        bottom: 330px;
        transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        -moz-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        z-index: 75;
        max-width: 180px !important;
    }
    .member2_7 {
        bottom: 320px;
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        z-index: 74;
        max-width: 180px !important;
    }
    .member2_8 {
        bottom: 320px;
        transform: translateX(-115%);
        -webkit-transform: translateX(-115%);
        -moz-transform: translateX(-115%);
        -ms-transform: translateX(-115%);
        -o-transform: translateX(-115%);
        z-index: 74;
        max-width: 180px !important;
    }
}

@media (max-width: 512px) {
    .cursor {
        display: none;
    }
    .landing .container {
        padding: 0;
    }
    .members-wrapper {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: 100vh;
        margin: auto;
    }
    .members-wrapper img {
        position: absolute;
        max-width: 240px;
        min-width: 160px;
        width: 50%;
        left: 50%;
    }
    .landing {
        background-image: url(../images/background.png);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .landing .text-wrapper p {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .member_1 {
        bottom: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 100;
    }
    .member_2 {
        bottom: 0;
        transform: translateX(-15%);
        -webkit-transform: translateX(-15%);
        -moz-transform: translateX(-15%);
        -ms-transform: translateX(-15%);
        -o-transform: translateX(-15%);
        z-index: 99;
    }
    .member_3 {
        bottom: 0;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        z-index: 98;
    }
    .member_4 {
        bottom: 0;
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        z-index: 97;
    }
    .member_5 {
        bottom: 0;
        transform: translateX(-125%);
        -webkit-transform: translateX(-125%);
        -moz-transform: translateX(-125%);
        -ms-transform: translateX(-125%);
        -o-transform: translateX(-125%);
        z-index: 96;
    }
    .member_6 {
        bottom: 100px;
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
        z-index: 95;
        max-width: 230px !important;
    }
    .member_7 {
        bottom: 100px;
        transform: translateX(-65%);
        -webkit-transform: translateX(-65%);
        -moz-transform: translateX(-65%);
        -ms-transform: translateX(-65%);
        -o-transform: translateX(-65%);
        z-index: 94;
        max-width: 230px !important;
    }
    .member_8 {
        bottom: 100px;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 93;
        max-width: 230px !important;
    }
    .member_9 {
        bottom: 100px;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        z-index: 92;
        max-width: 230px !important;
    }
    .member_10 {
        bottom: 100px;
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        z-index: 91;
        max-width: 230px !important;
    }
    .member_11 {
        bottom: 100px;
        transform: translateX(-135%);
        -webkit-transform: translateX(-135%);
        -moz-transform: translateX(-135%);
        -ms-transform: translateX(-135%);
        -o-transform: translateX(-135%);
        z-index: 90;
        max-width: 230px !important;
    }
    .member1_1 {
        bottom: 160px;
        transform: translateX(-35%);
        -webkit-transform: translateX(-35%);
        -moz-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
        -o-transform: translateX(-35%);
        z-index: 89;
        max-width: 220px !important;
    }
    .member1_2 {
        bottom: 160px;
        transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        -moz-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        z-index: 88;
        max-width: 220px !important;
    }

    .member1_3 {
        bottom: 160px;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 88;
        max-width: 220px !important;
    }
    .member1_4 {
        bottom: 160px;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
        z-index: 87;
        max-width: 220px !important;
    }
    .member1_5 {
        bottom: 160px;
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        z-index: 86;
        max-width: 220px !important;
    }
    .member1_6 {
        bottom: 160px;
        transform: translateX(-145%);
        -webkit-transform: translateX(-145%);
        -moz-transform: translateX(-145%);
        -ms-transform: translateX(-145%);
        -o-transform: translateX(-145%);
        z-index: 85;
        max-width: 220px !important;
    }
    .member1_7 {
        bottom: 215px;
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
        z-index: 84;
        max-width: 200px !important;
    }
    .member1_8 {
        bottom: 215px;
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
        z-index: 83;
        max-width: 200px !important;
    }

    .member1_9 {
        bottom: 215px;
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
        z-index: 82;
        max-width: 200px !important;
    }
    .member1_10 {
        bottom: 215px;
        transform: translateX(-105%);
        -webkit-transform: translateX(-105%);
        -moz-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        -o-transform: translateX(-105%);
        z-index: 81;
        max-width: 200px !important;
    }
    .member2_1 {
        bottom: 275px;
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        z-index: 80;
        max-width: 200px !important;
    }
    .member2_2 {
        bottom: 275px;
        transform: translateX(-140%);
        -webkit-transform: translateX(-140%);
        -moz-transform: translateX(-140%);
        -ms-transform: translateX(-140%);
        -o-transform: translateX(-140%);
        z-index: 79;
        max-width: 200px !important;
    }
    .member2_3 {
        bottom: 330px;
        transform: translateX(-35%);
        -webkit-transform: translateX(-35%);
        -moz-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
        -o-transform: translateX(-35%);
        z-index: 78;
        max-width: 190px !important;
    }
    .member2_4 {
        bottom: 330px;
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
        z-index: 77;
        max-width: 190px !important;
    }
    .member2_5 {
        bottom: 330px;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        z-index: 76;
        max-width: 190px !important;
    }
    .member2_6 {
        bottom: 330px;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
        z-index: 75;
        max-width: 190px !important;
    }
    .member2_7 {
        bottom: 330px;
        transform: translateX(35%);
        -webkit-transform: translateX(35%);
        -moz-transform: translateX(35%);
        -ms-transform: translateX(35%);
        -o-transform: translateX(35%);
        z-index: 74;
        max-width: 190px !important;
    }
    .member2_8 {
        bottom: 330px;
        transform: translateX(-140%);
        -webkit-transform: translateX(-140%);
        -moz-transform: translateX(-140%);
        -ms-transform: translateX(-140%);
        -o-transform: translateX(-140%);
        z-index: 74;
        max-width: 190px !important;
    }
}
